.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 0 0;
  box-sizing: border-box;
}
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  letter-spacing: 2px;
  text-decoration: none; 
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-item {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}
.auth-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}
.login-btn {
  background: none;
  border: none;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
  cursor: pointer;
  white-space:nowrap;
}
.signup-btn {
  background: #6a842a;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  cursor: pointer;
  white-space:nowrap;
}
.mypage-btn, .logout-btn {
  background: none;
  border: none;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 8px;
  text-decoration: none;
}
.mypage-btn:hover, .logout-btn:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
.menu {
  display: flex;
  gap: 20px;
}
}
@media (max-width: 500px) {
  .menu {
    display: flex;
    gap: 10px;
  }
  .menu-item {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
  }
  .logo {
    font-size: 20px;
  }
  .auth-buttons {
    gap: 6px;
  }
  .login-btn {
    font-size: 14px;
    margin-right: 5px;
  }
  .signup-btn {
    font-size: 14px;
    padding: 8px 10px;
  }
  .mypage-btn, .logout-btn {
    font-size: 14px;
    margin-left: 5px;
  }
}