.icon,
.star {
  overflow: hidden;
}
.icon {
  position: absolute;
  height: 79.38%;
  width: 83.13%;
  top: 8.13%;
  right: 8.75%;
  bottom: 12.5%;
  left: 8.13%;
  max-width: 100%;
  max-height: 100%;
}
.star {
  width: 16px;
  position: relative;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
